main {
    width: 100%;
    height: 100vh;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
    margin-bottom: 3rem;
    box-shadow: 0px 2px 12px 6px #0000003f;
}

section#hero {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    background-color: var(--primary-color);
    color: #fff;
}

section#hero h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.25;
    opacity: 0;
}

section#hero .buttons {
    display: flex;
    gap: 2rem;
    opacity: 0;
}

section#hero .buttons button {
    min-width: 12rem;
    font-style: normal;
    font-size: 1.5rem;
    white-space: nowrap;
}

section#hero .buttons button.btn-1 {
    font-weight: 600;
}

section#about {
    background-color: var(--accent-color);
    align-items: start;
}

section#about aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 0.25rem;
    width: 50.5%;
    padding-inline: 6rem;
    position: relative;
    z-index: 1;
}

section#about aside::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
    background-image: url("https://img.freepik.com/premium-photo/man-is-sitting-table-focusing-his-laptop-screen-engaged-online-work-studying-digital-nomad-working-his-laptop-from-tropical-beach-ai-generated_538213-23372.jpg?w=740");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

section#about aside::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background-color: #000;
    opacity: 0.6;
    backdrop-filter: blur(3px) brightness(0.5);
}

section#about aside h2 {
    opacity: 0;
    font-size: 3rem;
    font-weight: 600;
    white-space: nowrap;
    margin-bottom: 0.25rem;
    transition: all 0.2s ease 0.3s;
}

section#about aside h2 span {
    color: var(--accent-color);
    font-weight: 800;
}

section#about aside h3 {
    opacity: 0;
    font-weight: 500;
    font-size: 1.75rem;
    color: #ffffffb0;
    transition: all 0.2s ease 0.6s;
}

section#about aside h3 span {
    color: #fff;
    font-style: italic;
    font-weight: 600;
}

section#about aside p {
    color: #ffffffea;
    margin-top: 1.75rem;
    font-size: 0.75rem;
    line-height: 1.45;
    letter-spacing: 2px;
    word-spacing: 1.25px;
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.2s ease 0.9s;
}

section#about div#skills {
    width: 53%;
    height: 100%;
    padding-inline: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    opacity: 0;
}

section#about.animate div#skills {
    animation: fade-in 1.25s ease-in forwards;
    animation-delay: 0.3s;
}

section#about div#skills h3 {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
    color: var(--primary-color);
}

section#about div#skills h3 span {
    color: #000000b1;
    font-weight: 600;
}

section#about div#skills ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 280px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}

section#about div#skills ul li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: monospace, sans-serif;
    font-size: 1rem;
}

section#about div#skills ul li::before {
    content: "▹";
    position: absolute;
    top: 4px;
    left: 0px;
    color: #fff;
    font-size: 0.75rem;
    line-height: 12px;
}

section#contact {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

section#contact div.container {
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    width: 80%;
    padding-inline: 6rem;
    position: relative;
    z-index: 1;
}

section#contact div.container div.description {
    width: 50%;
    opacity: 0;
}

section#contact div.container div.description h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.25;
}

section#contact div.container div.description p {
    font-size: 0.75rem;
    line-height: 1.45;
    letter-spacing: 2px;
    word-spacing: 1.25px;
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 0.5rem;
}

section#contact div.container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    opacity: 0;
}

section#contact div.container form input {
    width: 100%;
    padding: 0.5rem 1rem;
    padding-top: 1rem;
    font-size: 1rem;
    font-family: monospace, sans-serif;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    transition: all 0.2s ease 0.3s;
}

section#contact div.container form input:focus {
    border-bottom: 2px solid var(--accent-color);
}

section#contact div.container form textarea {
    width: 100%;
    height: 8rem;
    padding: 0.5rem 1rem;
    padding-top: 1rem;
    font-size: 1rem;
    font-family: monospace, sans-serif;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    transition: all 0.2s ease 0.3s;
    resize: none;
}

section#contact div.container form textarea:focus {
    border-bottom: 2px solid var(--accent-color);
}

section#contact div.container form button {
    background-color: var(--primary-color);
    font-size: 1.25rem;
    font-style: normal;
    border: none;
    margin-top: 0.5rem;
    transition: all 0.5s ease-in-out;
}

section#contact div.container form button:hover {
    background-color: var(--accent-color);
    color: #fff;
}

section#contact div.container form button:active {
    background-color: var(--primary-color);
}

section#contact div.container form button:focus {
    background-color: var(--primary-color);
}

section#contact div.container form button::before {
    content: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    height: 3rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#contact_link,
#contact_email {
    position: fixed;
    bottom: 0;
    right: 24px;
    transform: translateY(-80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 9999;
}

#contact_email {
    right: auto;
    left: 24px;
    transform: translateY(-50%);
    display: inline;
}

#contact_email span {
    color: #fff;
    font-family: monospace, sans-serif;
    letter-spacing: 1.25;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
}

#contact_link::before,
#contact_link::after,
#contact_email::before,
#contact_email::after {
    content: "";
    background-color: #fff;
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 120px;
}

#contact_email::before {
    bottom: -60%;
    top: auto;
}

#contact_email::after {
    bottom: auto;
    top: -60%;
}

#contact_link::after {
    bottom: auto;
    top: -100%;
}

#contact_link a {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 2.5rem;
    aspect-ratio: 1/1;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

#contact_link a:hover {
    background-color: #fff;
    color: var(--primary-color);
}

/* Animation */

section#hero.animate h1 {
    animation: fade-in 2s ease-in forwards;
    animation-delay: 0.1s;
}

section#hero.animate .buttons {
    animation: slide-up 1s ease forwards, fade-in 2s ease-in forwards;
    animation-delay: 0.3s, 0.6s;
}

section#contact.animate div.container form {
    animation: fade-in 1.5s ease-in forwards;
    animation-delay: 0.6s;
}

section#contact.animate div.container div.description {
    animation: fade-in 2s ease forwards;
    animation-delay: 0.3s;
}

section#about.animate aside h2, section#about.animate aside h3 {
    animation: fade-in 2s linear forwards, slide-left 1s ease-in forwards;
    animation-delay: 0.3s, 0;
}

section#about.animate aside h3 {
    animation-delay: 0.6s, 0.3s;
}

section#about.animate p span {
    opacity: 0;
}

section#about.animate p span {
    animation: fade-in 1s ease-in forwards;
    animation-delay: 0.8s;
}


section#about.animate aside p :nth-child(1) {
    animation-delay: 1s;
}

section#about.animate aside p :nth-child(2) {
    animation-delay: 1.5s;
}

section#about.animate aside p :nth-child(3) {
    animation-delay: 2s;
}

