*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #2f3c4f;
    --secondary-color: #506e86;
    --accent-color: #de703b;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
}

html,
body {
    font-size: 16px;
    font-family: Inter, sans-serif;
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #58585879;
    color: #fff;
    position: relative;
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

button {
    position: relative;
    padding: 0.75rem;
    border: 1px dashed #fff;
    border-radius: 99px;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    transition-duration: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
}

button:hover {
    color: var(--primary-color);
}

button::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    content: "";
    height: 100%;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

button:hover::before {
    right: 0;
}

button.square {
    border-radius: 0;
}

button.inv {
    background-color: #fff;
    color: var(--primary-color);
}

button.inv:hover {
    color: #fff;
}

button.inv::before {
    background-color: var(--primary-color);
    left: 100%;
    right: 0;
}

button.inv:hover::before {
    left: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header div.container {
    position: relative;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 99px;
    z-index: 999;
}

header span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #ffffffce;
    font-weight: 200;
    z-index: 999;
}

header span b {
    color: #fff;
}

header nav {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-left: 2rem;
}

header nav a {
    position: relative;
}

header nav a.active {
    font-weight: bold;
}

header nav a::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0px;
    height: 2px;
    border-radius: 99px;
    background-color: #fff;
    width: 0;
    transition: all 0.6s ease-in-out;
}

header nav a:hover::before {
    width: 100%;
}

.loading {
    display: none;
}

.loading.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading.active svg {
    animation: rotate 1s linear infinite;
}

.loading.active span {
    font-size: 2rem;
    font-style: italic;
    margin-left: 1.25rem;
}

/* Animation */

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(12rem);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slide-left {
    from {
        transform: translateX(-12rem);
    }
    to {
        transform: translateX(0);
    }
}
